.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.too-dark {
  color: aliceblue;
}

.card {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(143, 134, 134);
  padding: 20px;
  margin: 10px;
  color: var(--dark);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  color: aliceblue;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid slateblue;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.text-center {
  text-align: center;
}

/* margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem 0;
}

.m-2 {
  margin: 1.5rem 0;
}

.m-3 {
  margin: 2rem 0;
}

.m-4 {
  margin: 3rem 0;
}

.m-5 {
  margin: 4rem 0;
}

/* padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem 0;
}

.p-2 {
  padding: 1.5rem 0;
}

.p-3 {
  padding: 2rem 0;
}

.p-4 {
  padding: 3rem 0;
}

.p-5 {
  padding: 4rem 0;
}

/* backgrounds + colored btn */
.bg-primary,
.btn-primary {
  background-color: /*var(--primary)*/ #071533;
  color: aliceblue;
  border: 1px solid lightblue;
}

.bg-secondary,
.btn-secondary {
  background-color: /*var(--secondary)*/ rgb(18, 4, 27);
  color: aliceblue;
  border: 1px solid lightblue;
}

.bg-dark,
.btn-dark {
  background-color:/* var(--dark-cls)*/ #002240;
  color: aliceblue;
  border: 1px solid lightblue;
}

.bg-light,
.btn-light {
  background-color: /*var(--light)*/ #f4f4f4;
  color: black;
}

.bg-indigo-100 {
  background-color: rgb(229, 211, 241);
}

.bg-indigo-200 {
  background-color: rgb(140, 87, 177);
}

.bg-indigo-300 {
  background-color: rgb(64, 26, 92);
}

.bg-indigo-400 {
  background-color: rgb(48, 10, 75);
}

.bg-indigo-500 {
  background-color: rgb(25, 6, 39);
}

.bg-blue-100 {
  background-color: rgb(211, 213, 241);
}

.bg-blue-200 {
  background-color: rgb(87, 111, 177);
}

.bg-blue-300 {
  background-color: rgb(26, 38, 92);
}

.bg-blue-400 {
  background-color: rgb(10, 20, 75);
}

.bg-blue-500 {
  background-color: rgb(6, 11, 39);
}
